.kode-mono {
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root
{
  --navbar-height:4dvh;
  --navbar-overflow:hidden;
	--selected-theme:"Dark";
	--content-image-blur:0px;
	--caption-opacity:0;
	--body-background-color:#212121;
	--body-text-color:whitesmoke;
	--body-header-color:gold;
	--body-shadow : rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --font-size-0:1rem;
  --font-size-1:1.2rem;
  --font-size-2:1.5rem;
  --font-size-3:1.8rem;
  --font-size-4:2.8rem;
  --font-size-5:3.8rem;
}

html
{
	background-color:var(--body-background-color);
	color:var(--body-text-color);
	font-family:"kode mono";
	overflow-x:hidden;
	scroll-behavior:smooth;
	transition: background-color 1s;
}

/* Navbar */
.back-to-main
{
  position:fixed;
  z-index:9;
  padding:20px;
  top:0;
  left:0;
  width:fit-content;
  aspect-ratio:1/1;
  background-color:gold;
  color:var(--body-background-color);
  font-size:var(--font-size-3);
  font-weight:bold;
  text-decoration:none;
	box-shadow:var(--body-shadow); 
}
.sticky
{
  position:fixed;
  left:0;
  bottom:0;
  background-color:gold;
  width:100%;
  font-size:var(--font-size-2);
  color:var(--body-background-color);
  text-align:center;
  z-index:9;
}
nav
{
  display:flex;
	position:fixed;
	font-size:var(--font-size-1);
  padding:0.7rem;
	z-index:9;
	top:0px;
	left:0px;
	justify-content:space-evenly;
	align-items:center;
  background-color:#212121;
  width:99%;
	box-shadow:var(--body-shadow); 
  height:4dvh;
	white-space:nowrap;
}

nav a 
{
  text-decoration : none;  
  color : gold;
  background-color:#212121;
  transition : font-size 0.5s;
}

nav a:hover
{
          font-size:var(--font-size-3);  
          border-color: gold;
}

nav label
{
  position:absolute;
  left:0.7rem;
  display:flex;
  gap:2rem;
  align-items:center;
}
nav label img
{
 height:4dvh;
 aspect-ratio:1/1;
 object-fit:cover;
}

nav input[type="checkbox"]
{
  appearance:none;
  height:0;
	aspect-ratio:1/1;
}
/*Project cards*/
.text-card-2
{
  display:grid;
  overflow:hidden;
  grid-template-rows:repeat(3,20%);
  grid-template-columns:repeat(10,10%);
}
.text-card-2 h2
{
  grid-area:1/1/2/11;
  background-color:gold;
  color:var(--body-background-color);
  font-size:var(--font-size-3);
	box-shadow:var(--body-shadow); 
}
.text-card-2 .img-container 
{
  grid-area:2/1/4/4;
}
.text-card-2 .img-container img
{
  border-radius:10px;
  max-width:30vw;
  background-size: contain;
}
.text-card-2 p 
{
	font-size:var(--font-size-1);
  grid-area:2/5/4/11;
}
.text-card-3
{
  display:flex;
  gap:2vw;
  overflow:hidden;
}
.text-card-3 .img-container 
{
  flex: 0 0 45%;
  min-width: 0;
  overflow:hidden;
}
.text-card-3 .img-container img
{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
  background-size: cover;
}
.text-card-3 p 
{
	font-size:var(--font-size-1);
}
nav .theme-switcher-container
{
	background-color:whitesmoke;
	border-bottom-left-radius:20px;
	border-bottom-next-radius:20px;
	width:fit-content;
	display:flex;
	align-items:center;
	padding:0.3rem;
	transition:font-size 0.2s;
}

nav .theme-switcher-container:hover
{
        font-size: 2rem;  
	background-color:gold;
}

/* Sections */
.section#welcome
{
	height:100vh;
}

.section#welcome
{
}

.section#whoarewe
{
}

/* Section headers */
.section::before
{
	content:"";
	height:10dvh;
	display:block;
}

.section-header h2
{
	font-size:var(--font-size-3);
	position:relative;
	border-style:solid;
	border-radius:10px;
  text-wrap:nowrap;
	border-color:gold;
	border-width:0px 4px 0px 4px;
	width:fit-content;
	margin:auto;
	box-shadow:var(--body-shadow); 

	color:var(--body-background-color);
	background-color:gold;
	margin:auto;
	width:fit-content;
	padding:10px;
	transition: color 1s;
}

.section-header::after
{
  content:"";
	height:1rem;
	display:block;
}

/* Banner */
.banner
{
	font-size:1.2rem;
	position:relative;
	display:grid;
	grid-template-rows: repeat(9,5vh);
	grid-template-columns : repeat(autofit,10vw);
	
	overflow-x:hidden;
}
.banner-logo
{
	grid-area: 2/2/6/3;
}
.banner-logo img
{
	width:100%;
	height:100%;
	object-fit:contain;
}
.banner-caption
{
	color:var(--body-background-color);
	background-color:var(--body-text-color);
	margin:0;
	padding:0;
	font-size:2.2rem;
	grid-area: 7/1/8/4;
	transition: color 1s;
}
.banner-video-container
{
	position:absolute;
	background-color:black;
	margin:0;
	padding:0;
	z-index:10;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
}
.banner-video-container video
{
	filter:blur(10px);
	width:100%;
	height:100%;
	object-fit:cover;
}

.text-overlay
{
	z-index:11;
	position:relative;
	color:whitesmoke;
	padding:10px;
	font-size:2.2vw;
	margin:auto;
	text-align:center;
}
.text-overlay h2
{
	opacity:0.8;
	font-size:5vw;
}
.text-overlay .button-belt /*I dont know what to call it*/
{
	font-size:min(2.2rem,4vw);
	position:relative;
	top:0%;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	opacity:0.9;
}
.button-belt a
{
    background-image:linear-gradient(to right,goldenrod  0%, gold  50%,yellow 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-decoration:none;
    transition: 0.5s;
    background-size: 200% auto;
    color: #03070a;
    border-radius: 10px;
    display: block;
}
.button-belt a#primary
{
    background-image: linear-gradient(to right,whitesmoke  0%, white  50%,lightgrey 100%);
}

.button-belt a:hover
{
    background-position:next; /* change the direction of the change here */
    text-decoration:none;
}

/* Text cards */
.text-card
{
	font-size:var(--font-size-2);
	position:relative;
  text-align:center;
	margin:auto;
	padding:10px;
	color:var(--body-text-color);
}
.text-card h2
{
	color:var(--body-background-color);
	background-color:gold;
	margin:auto;
	padding:2px;
	width:fit-content;
	text-align:center;
	transition: color 1s;
}
.text-card a
{
	color:gold;
}
/* BOM */
.bom-grid {
	position:relative;
	height:auto;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	border-color:gold;
	border-radius:5px;
	border-width:0px 4px 0px 4px;
	padding:2vw;
	margin:auto;
	flex-wrap:wrap;
	gap:2vw;
	overflow-x:auto;
}
.bom-element {	
	flex: 1 0 30%;
	max-width:30%;
	position:relative;
	height:30dvh;
	border-color:gold;
	border-radius:5px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	box-shadow:var(--body-shadow); 
	opacity:0.95;	
	color:var(--body-background-color);
	overflow:hidden;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:repeat(2,30%);
}
.bom-element .element-caption {
	z-index:2;
	grid-area:3/1/4/2;
	background-color:rgba(21,21,21,0.3);
	color:whitesmoke;
	font-size:var(--font-size-0);
}
.element-caption h2  {
	grid-area:3/1/4/2;
	text-decoration:none;
	border-style:solid;
	border-width:0px 0px 4px 0px;
	border-color:gold;
	color:whitesmoke;
	text-align:center;
}
.bom-element .element-img  {
	grid-area:1/1/4/2;
	z-index:-1;
	overflow:hidden;
}
.element-img img {
	height:100%;
	width:100%;
	object-fit:cover;
}


/*Member Cards */
.member-card-holder
{
	position:relative;
	height:auto;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	border-color:gold;
	border-radius:5px;
	border-width:0px 4px 0px 4px;
  padding:2vw;
	margin:auto;
  flex-wrap:wrap;
	gap:2vw;
	overflow-x:auto;
}
.member-card-holder::-webkit-scrollbar
{
	height:0.8dvh;
}
.member-card-holder::-webkit-scrollbar-track
{
	background-color:var(--body-background-color);
}
.member-card-holder::-webkit-scrollbar-thumb
{
	background-color:gold;
}
.member-card
{	
	flex: 1 0 25%;
  max-width:25%;
	position:relative;
	height:50dvh;
	border-color:gold;
	border-radius:5px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	box-shadow:var(--body-shadow); 
	opacity:0.95;	
	color:var(--body-background-color);
	overflow:hidden;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:repeat(2,30%);
	transition:grid-template-rows 500ms ease-out;
}
.member-card .profile-caption
{
	z-index:2;
	grid-area:3/1/4/2;
	background-color:rgba(21,21,21,0.3);
	color:whitesmoke;
	font-size:var(--font-size-1);
}
.profile-caption h2 a
{
	grid-area:3/1/4/2;
	text-decoration:none;
	border-style:solid;
	border-width:0px 0px 4px 0px;
	border-color:gold;
	color:whitesmoke;
	text-align:center;
}
.member-card .profile-img  
{
	grid-area:1/1/4/2;
	z-index:-1;
	overflow:hidden;
}
.profile-img img
{
	height:100%;
	width:100%;
	object-fit:cover;
}
/* Content slider */
.slide-container
{
	position:relative;
	display:grid;
	grid-template-rows:repeat(7,12dvh);
	grid-template-columns:repeat(20,5%);
	overflow:hidden;
}
.slide-container .background-item
{
	grid-area: 2/3/7/20;
	background-color:gold;
	border-radius:20px;
	box-shadow:var(--body-shadow); 
}
.slide-container .content-slide
{
	z-index:1;
	display:grid;
	grid-area: 1/2/6/19;
	background-color:whitesmoke;
	box-shadow:var(--body-shadow); 
	border-radius:20px;
	overflow-x:auto;
	overflow-y:hidden;
  grid-template-columns:repeat(20,5%);
  grid-template-rows: repeat(3,33.33%);
}
.slide-container .slide-button
{
  grid-area:3/1/4/2;
  border-radius:20%;
  border:0;
  font-size:var(--font-size-4);
  font-weight:bold;
  color:gold;
  background-color:rgba(0,0,0,0.2);
  text-decoration:none;
  text-align:center;
  z-index:5;
}
.slide-button span 
{
    vertical-align: middle;
}
.slide-container .slide-button#next
{
  grid-column:20/21;
}
.slide-container .content-slide .img-container
{
  opacity:0;
  transition: 1s ease-in-out;
  transition-delay: 500ms;
}
.slide-container .content-slide .img-container[data-active]
{
  opacity:1;
  transition-delay: 450ms;
}
.slide-container .content-slide .img-container
{
  grid-area:1/1/4/21;
}
.img-container a 
{
	text-decoration:none;
}
.content-slide .img-container .img-caption
{
	font-size:var(--font-size-3);
	padding:6px;
	position:relative;
	z-index:5;
	bottom:40%;
	text-align:center;
	background-color:gold;
	color:var(--body-background-color);
	opacity:1;
	transition:opacity 1s;
}

.content-slide .img-container img
{
	height:100%;
	width:100%;
	object-fit: cover;
}
.slide-container .selection-box
{
	z-index:2;
	grid-area:5/2/6/9; 
	display:flex;
	border-radius:20px;
	opacity:0.95;
	align-items:center;
	justify-content:space-evenly;
}
.slide-container .selection-box a
{
	border-width:0.2dvh;
	border-style:solid;
	width:0.6vw;
	aspect-ratio:1/1;
	border-radius:50%;
	border-color:var(--body-background-color);
	background-color:whitesmoke;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* Event Cards */
.event-card-holder
 {
	 display:flex;
	 justify-content:space-evenly;
	 gap:4vw;
 }
.event-card-holder .event-card
{
  flex:0 0 45%;
	display:grid;
	grid-template-columns:repeat(4,25%);
	grid-template-rows:repeat(4,20%);
	border-radius:20px;
	overflow:hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: 1s;
}
.event-card img
{
	z-index:0;
	grid-area:1/1/6/5;
	width:100%;
	height:100%;
	object-fit:cover;
}
.event-card .event-card-title
{
	padding-left:2rem;
	font-size:var(--font-size-1);
	z-index:2;
	grid-area:4/1/5/5;
	background-color:rgba(21,21,21,0.3);
	transition:width 1s ease-in-out;
}
.event-card-title h2 
{
	text-decoration:none;
	border-style:solid;
	border-width:0px 0px 4px 0px;
	border-color:gold;
	color:whitesmoke;
	transition:width 1s ease-in-out;
}
.event-card .event-card-hover-fill
{
	z-index:1;
	grid-area:5/1/6/4;
	background-color:rgba(21,21,21,0.3);

}
.event-card .event-card-extra
{
	z-index:1;
	font-size:0.8rem;
	grid-area:5/4/6/5;
	padding-top:10px;
  text-align:center;
	background-color:rgba(21,21,21,0.3);
}
.event-card .event-card-extra a
{
	text-decoration:none;
}
.event-card .event-card-extra  a h2
{
	border-radius:20px;
	position:relative;
	bottom:0;
	text-decoration:none;
	padding:10px;
  background-image: linear-gradient(to right,goldenrod  0%, gold  50%);
	width:fit-content;
	color:var(--body-background-color);
}
/* Social media box*/
.contact-info-box
{
	display:flex;
	justify-content:space-evenly;
  gap:2vw;
}
.social-media-box
{
	display:flex;
	justify-content:space-evenly;
  	gap:2vw;
}
.social-media-box .social-media-item
{
	flex: 0 1 5%;
	box-shadow:var(--body-shadow); 
	text-decoration:none;
	color:gold;
  border-radius:20px;
	overflow:hidden;
} 
.social-media-item img
{
	height:100%;
	width:100%;
	object-fit:cover;
}
.contact-info
{
flex:1 0 20%; 
text-align:center;
font-size:var(--font-size-1);
}
.contact-info a
{
  color:gold;
}
/* Sponsor board*/
.sponsor-board
{
  padding:1vw;
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:5vw;
}
.sponsor-board .sponsor-logo
{
  height:15dvh;
  width:fit-content;
  overflow:hidden;
}
.sponsor-logo img
{
  object-fit:contain;
}
/* sign up stuff*/
.signup-box
{
	position:relative;
	margin:auto;
	top:20%;
	padding:2vw;
	font-size:1.5rem;
	width:fit-content;
	display:flex;
	flex-direction:column;
	gap:3dvh;
	box-shadow:var(--body-shadow); 
}
.signup-box form
{
	position:relative;
	display:flex;
	flex-direction:column;
	gap:2dvh;
}
.signup-box form input[type="text"]
{
	border-radius:10px;
	text-align:center;
	border-width:0px;
	font-family:"kode mono";
	font-size:1.5rem;
	box-shadow:var(--body-shadow); 
}
.signup-box form input[type="submit"]
{
	border-radius:10px;
  font-weight:bold;
	border-width:0px;
	color:var(--body-background-color);
	font-family:"kode mono";
	font-size:1.8rem;
    	background-image: linear-gradient(to right,goldenrod  0%, gold  50%);
	box-shadow:var(--body-shadow); 
	transition: 1s;
}
.signup-box form input[type="submit"]:hover
{
    background-position:next; /* change the direction of the change here */
}
.signup-box form label
{
	text-align:center;
}
.signup-box h2 
{
	background-color:gold;
	color:var(--body-background-color);
	text-align:center;
}
.signup-box img 
{
	width:4vw;
	aspect-ratio:3/4;
	margin:auto;
  border-style:solid;
  border-width:0px 0px 4px 0px;
  border-color:whitesmoke;
}
.signup-box .slabel
{
  font-weight:bold;
  background-color:gold;
  color:var(--body-background-color);
  padding:1vw;
  border-radius:20px;
}
/* root actions */
:root:has(input[type="checkbox"]#theme-switcher:checked)
{
	--selected-theme:"Light";
	--body-background-color:slateblue;
}
@media(hover)
{
	.event-card .event-card-title  h2
	{
		width:var(--line-width);
		transition:width 1s ease-in-out;
	}
	.event-card-holder .event-card 
	{
		--line-width:40%;
		grid-template-rows:repeat(4,25%);
	}
	.event-card:hover
	{
		--line-width:100%;
		grid-template-rows:repeat(4,20%);
	}	
}
@media (max-width:1400px)
{
 nav label p
 {
   font-size:0rem;
 }
}
@media (max-width:1024px)
{
  .bom-element
  {
    flex:0 0 40%;
    min-width:40%;
  }
  .contact-info-box
  {
    flex-direction:column;
  }
  .contact-info
  {
    font-size:var(--font-size-0);
  }
  .event-card .event-card-extra
  {
    bored-radius:0;
	  grid-area:5/1/6/5;
    font-size:1.2rem;
  }
  .event-card .event-card-extra a h2 
  {
    height:100%;
    width:100%;
    border-radius:0;
  }
  .event-card .event-card-title
  {
    text-align:center;
    font-size:var(--font-size-1);
  }
  .slide-container .slide-button
  {
    grid-column:1/4;
    font-size:4rem;
    border-radius:0px;
  }
  .slide-container .slide-button#next
  {
    grid-column:18/21;
  }
  .social-media-box .social-media-item
  {
    flex: 0 0 10%;
  }
  .member-card
	{
		flex: 0 0 40%;

    min-width:40%;
    height:30dvh;
	}
  .member-card .profile-caption
  {
    font-size:var(--font-size-0);
  }
  .button-belt
  {
   flex-direction:column;
  }
  .button-belt a
  {
   font-size:2rem;
  }
  .text-card
  {
    font-size:var(--font-size-2);
  }
	.event-card-holder
	{
	  display:flex;
	  flex-direction:column;
	  gap:4vw;
	}
  nav
  {
    font-size:1.6rem;
    gap:2dvh;
    height:var(--navbar-height);
    flex-direction:column;
    justify-content:start;
    align-items:center;
    overflow:hidden;
    transition: 500ms;
  }
  nav label
  {
    position:relative;
    padding:0;
  }
  nav label p 
  {
    font-size:0;
  }
  nav label img
  {
    transform: translateX(15%);
  }
  :root:has(input[type="checkbox"]#navButton:checked)
  {
   --navbar-height:auto;
  }
  .slide-container .slide-button
  {
    background-color:gold;
    opacity:1;
    border-radius:10px;
    color:var(--body-background-color);
  }
  .text-card-3
  {
    flex-direction:column;
    padding:4px;
  }
  .text-card-3 p
  {
    font-size:var(--font-size-0);
  }
  .text-card-3 img-container
  {
    flex: 1 1 auto;
  }
  .sponsor-board
  {
    flex-direction:column;
    align-items:center;
  }
}

::-webkit-scrollbar
{
	width:0.2vw;
}
::-webkit-scrollbar-track
{
	background-color:var(--body-background-color);
}
::-webkit-scrollbar-thumb
{
	background-color:gold;
}
