<html>
	<head>
	        <meta charset="utf-8"/>
                <meta name="author" content="Abdellah Radad"/>
                <meta name="description" content="Hassania school of public works' official robotics and electronics club"/>
                <meta property="og:title" content="EHTP ElectroPower"/>
                <meta property="og:image" content="https://www.electro-power.club/static/banner-cut.png"/>
                <meta property="og:url" content="https://www.electro-power.club/"/>
                <link rel="stylesheet" href="static/css/style.css">
                <title> EHTP ElectroPower </title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="static/script/main.js" defer></script>
    </head>

	  <body>
      <a class="back-to-main" href="/">&larr;</a>
      <h2 style="text-align:center;font-size:6rem;font-weight:bold;color:gold;">Welcome to Circuit Jam 24</h2>
      <div class="text-card" style="text-align:left;">
      <h2>What is Circuit Jam 24?</h2> 
      <p>
        CircuitJam24 is a 24 hour hackathon organised by EHTP ElectroPower, Hassania's official electronics and robotics club.
        <br/>
        <br/>
        The event takes place in Hassania School of Public Works in Casablanca and will host more than 30 teams from all over Morocco, do you have what it takes to compete?
      </p>
      <h2>How Can I participate ?</h2> 
      <p>
        <ul>
          <li>Gather a team of 1 to 5 people</li>
          <li><a href="/register" target="_blank"> Sign up</a> by filling the form on our website</li>
          <li>Assemble a robot according to the speciefied <a href="#bom"> BOM (Bill Of Materials)</a> </li>
          <li>Submit a short video introducing the robot and the team members to either <a> Tarik Ligabi (+212 708-017550)</a> or  <a> Abdellah Radad (+212 656824030)</a> on Whatsapp</li>
        </ul>
      </p>
      <h2 id="bom">What should I include in my robot in order to participate?</h2> 
      </div>
      <div class="bom-grid">
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/mpu6050.webp">
          </div>
          <div class="element-caption">
          <h2>MPU6050 (Or equivalent)</h2>
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/arduino.jpg">
          </div>
          <div class="element-caption">
          <h2> Microcontoller </h2>
          ESP32 or Arduino uno are strongly recommended
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/ir_sensor.jpg">
          </div>
          <div class="element-caption">
          <h2> Infrared sensors (At least 4) </h2>
          Will be used for line tracking
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/encoder.png">
          </div>
          <div class="element-caption">
          <h2> Optical encoders (2 are recommended)</h2>
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/HC-06.png">
          </div>
          <div class="element-caption">
          <h2> Bluetooth module </h2>
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/2wd.webp">
          </div>
          <div class="element-caption">
          <h2> 2WD chassis (A small chassis is strongly recommended) </h2>
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/batteries.jpg">
          </div>
          <div class="element-caption">
          <h2> Rechargeable batteries </h2>
          </div>
        </div>
        <div class="bom-element">
          <div class="element-img">
            <img src="static/media/circuitjam/bom/l298n.jpg">
          </div>
          <div class="element-caption">
          <h2>  DC motor driver  </h2>
          </div>
        </div>
      </div>
    <div class="text-card" style="text-align:left;">
      <br/>
      <br/>
      Participants are allowed and encouraged to use components outside of the BOM.
      <br/>
      <br/>
      <h2>When will the specifications booklet be revealed?</h2> 
        <p>
        The specifications booklet will be revealed at the start of the event.
        </p>
        
    </div>
  </body>
</html>
