<!DOCTYPE HTML>
<html>
	<head>
	        <meta charset="utf-8"/>
                <meta name="author" content="Abdellah Radad"/>
                <meta name="description" content="Hassania school of public works' official robotics and electronics club"/>
                <meta property="og:title" content="EHTP ElectroPower"/>
                <meta property="og:image" content="https://www.electro-power.club/static/banner-cut.png"/>
                <meta property="og:url" content="https://www.electro-power.club/"/>
                <link rel="stylesheet" href="static/css/style.css">
                <title> EHTP ElectroPower </title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="static/script/main.js" defer></script>
        </head>

	<body>
		<nav>
        <label for="navButton" ><img src="static/logo-mini.png" /><p>ElectroPower</p></label>
        <input type="checkbox" id="navButton"></input>
				<a href=#whoarewe> Who are We?</a>
				<a href=#news style="color:gold;"> News </a>
				<a href=#events>Events</a>
				<a href="/projects">Projects</a>
				<a href=#contactus>Contact us</a>
				<a href=#oursponsors>Sponsors</a>
		</nav>
		<div class="section" id="welcome">
			
			<div class="banner-video-container">
				<video src="static/media/banner/banner.mp4" type="video/mp4" autoplay loop muted >
			</div>
		<div class="text-overlay">
			<h2>
				HASSANIA'S OFFICIAL ELECTRONICS AND ROBOTICS CLUB.
			</h2>
			<div class="button-belt">
				<a href="#whoarewe" id="primary">Discover more</a>
				<a href="https://youtu.be/xBsWOiHjRrc" target="_blank">Watch 2023's aftermovie</a>
			</div>
		</div>
		</div>
		<div class="section" id="whoarewe">
			<div class="section-header"><h2> Who are we? </h2></div>
			<br/>
			<br/>
			<div class="text-card-3">
      <div class="img-container">
        <img src="static/media/members/board.jpeg"/>
			</div>
        <p>
        Established in 2017, ElectroPower stands as the culmination of a legacy of ingenuity, building upon the foundation laid by several pioneering clubs with kindred spirits.
        <br/>
        <br/>
        Dedicated to the fusion of electronics and passion, we are a collective of engineering enthusiasts driven by the thrill of unraveling the intricacies of software and hardware design. With every passing year, we endeavor to elevate our craft, empowering our members to soar to new heights of technical prowess.
        <br/>
        <br/>
        Through a vibrant tapestry of events, visits, training classes, and workshops, we cultivate an environment where innovation thrives and skills flourish. Join us as we embark on a journey of discovery, where circuits become canvases for creativity and technology serves as our playground.<br/><br/>Together, let's amplify our potential and illuminate the path towards a future shaped by the power of innovation.<br/><br/>Welcome to ElectroPower - where we work to make the world brighter!</p>

			</div>
			<br/>
			<div class="section-header"><h2>  2024's Board Members </h2></div>
			<br/>
				<div class="member-card-holder"> 
					{{range .BoardMembers}}
					<div class="member-card">
						<div class="profile-img">
							<a target="_blank" href={{.LinkedInProfile}}><img src={{.ProfilePhotoPath}}/></a>
						</div>
						<div class="profile-caption">
							<h2><a target="_blank" href={{.LinkedInProfile}}>{{.FullName}}</a></h2>
							<b><em>{{.Role}}</em></b>
						</div>
					</div> 
					{{end}}
				</div>
			
		</div>
		<div class="section" id="news">
			<div class="section-header"><h2> Latest News </h2></div>
			<br/>
			<div class="slide-container">
				<div class="item background-item">E</div>
        <button class="slide-button" id="prev">&lt;</button>
        <button class="slide-button" id="next">&gt;</button>
				<div content-slide class="content-slide">
					{{range .LatestNews}}
          {{if eq .Index 0}}
					<div data-active class="item img-container">
          {{else}}
					<div class="item img-container">
          {{end}}
						<a target="_blank" href={{.Link}}>
							<img id={{.ID}} src={{.PreviewImage}} />
							<h2 class="img-caption">{{.Caption}} </h2>
						</a>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="section" id="events">
			<div class="section-header"><h2> Our Events </h2></div>
			<br/>
			<div class="event-card-holder">
				<div class="event-card">
					<img src="static/media/electroday/electroday.jpg"/>
					<div class="event-card-title">
						<h2>
								ElectroDay
						</h2>
					</div>
					<div class="event-card-hover-fill"></div>
					<div class="event-card-extra">
						<a href="https://youtu.be/xBsWOiHjRrc" target="_blank"><h2>Discover more</h2></a>
					</div>
				</div>

				<div class="event-card">
					<img src="static/media/circuitjam/solar_panels.jpg"/>
					<div class="event-card-title">
						<h2>
								CircuitJam
						</h2>
					</div>
					<div class="event-card-hover-fill"></div>
					<div class="event-card-extra">
						<a href="/circuitjam"><h2>Discover more</h2></a>
					</div>
				</div>
			</div>	
		</div>

		<div class="section" id="contactus">

			<div class="section-header" ><h2>Get in touch</h2></div>
			 <div class="contact-info-box">
        <div class="contact-info"> 
          <img src="static/media/icons/location.png" style="height:3rem;aspect-ratio:1/1;margin:auto;"/>
          <br/>
            Visit us
          <br/>
          <br/>
          <a target="_blank" href="https://maps.app.goo.gl/ooQhJd4GWDLw6Ext6">Km 7 Rte d'El Jadida, Casablanca</a>
			  </div>
        <div class="contact-info">
          <img src="static/media/icons/email.png" style="height:3rem;aspect-ratio:1/1;margin:auto;"/>
          <br/>
           Email us
          <br/>
          <br/>
          <a href="mailto:electropower.ehtp@gmail.com">electropower.ehtp@gmail.com</a>
			  </div>
        <div class="contact-info"> 
          <img src="static/media/icons/phone.png" style="height:3rem;aspect-ratio:1/1;margin:auto;"/>
          <br/>
           Call us
          <br/>
          <br/>
          <a target="_blank" href="tel:+212-770084481" >+212-770084481</a>
        </div>
      </div>
     <br/>
      <br/>
      <div style="text-align:center;">
          <br/>
        <div class="social-media-box" style="position:relative;">
          <div class="social-media-item">
            <a target="_blank" href="https://www.instagram.com/ehtp_electropower/">
              <img src="static/media/icons/instagram.png">
            </a>
          </div>
          <div class="social-media-item">
            <a target="_blank" href="https://www.facebook.com/clubelectropower">
              <img src="static/media/icons/facebook.png">
            </a>
          </div>
          <div class="social-media-item">
            <a target="_blank" href="https://www.youtube.com/@ElectropowerClub">
              <img src="static/media/icons/youtube.png">
            </a>
          </div>
          <div class="social-media-item">
            <a target="_blank" href="https://www.linkedin.com/company/ehtp-electro-power/">
              <img src="static/media/icons/linkedin.png">
            </a>
          </div>
        </div>
      </div>
		</div>
		<div class="section" id="oursponsors">
        <div class="section-header">
            <h2>ElectroPower is sponsored by:</h2>
        </div>
        <div class="sponsor-board">
          {{range .Sponsors}}
          <div class="sponsor-logo">
            <a target="_blank" href={{.Link}}>
              <img src={{.Logo}}>
              </a>
          </div>
          {{end}}
        </div>
    </div>
	</body>
</html>
